<body>
  <div id="header">
    <header>To-Do List</header>
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input1')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input2')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input3')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input4')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input5')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input6')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input7')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input8')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input9')">
    <input type="text" class="my_input" placeholder="Add your task here :)" (blur)="saveToLocalStorage('input10')">
  </div>

  <button id="btn" [ngClass]="{'active': isActive}" (click)="ToggleActive()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>

  <div id="slide" [ngClass]="{'active': isActive}">
    <button class="slide" tabindex="-1">About Me!</button>
    <button class="slide" (click)="ToggleOptions()" tabindex="-1">Options</button>
    <button class="slide" (click)="Exit()" tabindex="-1">Exit</button>
  </div>

  <div class="options-container" *ngIf="optionsVisible">
    <form>
      <input class="colorInput" type="text" placeholder="Header Color" #headerColor>
      <input class="colorInput" type="text" placeholder="Background Color 1" #color1>
      <input class="colorInput" type="text" placeholder="Optional Second Color" #color2>
      <input class="colorInput" type="text" placeholder="degrees" #degrees>
      <input class="colorInput" type="text" placeholder="Buttons Color" #btnsColor>
      <button id="colorBtn" type="submit" (click)="saveOptions(headerColor.value, color1.value, color2.value, degrees.value, btnsColor.value)">Save</button>
    </form>
  </div>
</body>