<body>
  <div id="header">
    <header>To-Do List</header>
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
    <input type="text" class="my_input" placeholder="Add your task here :)">
  </div>

  <button id="btn" [ngClass]="{'active': isActive}" (click)="ToggleActive()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>

  <div id="slide" [ngClass]="{'active': isActive}">
    <button class="slide" (click)="createInput()" tabindex="-1">Add task</button>
    <button class="slide" tabindex="-1">About Me!</button>
    <button class="slide" (click)="ToggleOptions()" tabindex="-1">Options</button>
    <button class="slide" (click)="Exit()" tabindex="-1">Exit</button>
  </div>
</body>